@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700;800&family=Josefin+Slab:wght@100;200;300;500&family=Mulish:ital,wght@0,200;0,300;1,300&family=Noto+Sans:wght@200&family=Roboto:wght@300&display=swap');
 
html{
    scroll-behavior: smooth;
}
:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}
*{
    margin: 0;
    padding: 0;
}
body{ 
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
}
.logo_header{
    width: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark2);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 1px 1px 4px var(--color-dark4);
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.contentt h1{
    padding: 5px;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-purple);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-white);
    transition: 0.5s;
    background: var(--color-dark3);
}
.active{
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark3);
        height: 1000%;
        width: 35vw;
        padding: 1em;
        animation-duration: .5s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .active{
        color: var(--color-white);
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
.img-imc{
    text-align: center;
}
.img-imc img{
    max-height: 400px;
    margin-top: 5px;
    transition: 1s;
    min-width: 85%;
}
@media screen and (max-width: 768px){
    .img-imc img{
        width: 85%;
    }
}
.infoImc{
    font-family: 'Baloo Tamma 2', cursive;
    margin: 10px;
}
.calculaimc{
    text-align: center;
}
input{
    border: 3px solid var(--color-purple);
    border-radius: 5px;
    display: block;
    font-size: 14px;
    padding: 15px;
    margin: auto;
    color: var(--color-white);
    background-color: var(--color-dark3);
}
::placeholder{
    color: white;
}
.calculaimc button{
    margin-top: 3px;
}
.alinha h2 {
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
}
.espacamento{
    text-align: center;
}
#btnimc{
    width: 120px;
    border-radius: 10px;
    font:18px arial;
    cursor: pointer;
    margin-top: 10px;
    color: var(--color-white);
    border: 3px solid var(--color-purple);
    background-color: var(--color-dark3);
}
#mensagem{
    margin-left: -12%;
    font-size: 25px;
}
label{
    display: inline-block;
    margin-left: -12%;
    color: var(--color-purple);
    padding-bottom: 4px;
    font: 20px arial;
    
}
@media (max-width:768px){
    label{
        margin-left: -32%;
    }
}
form{
    background-color: var(--color-white);
    border-radius: 100% 10%;
}
#imc{
    font-size: 26px;
}
.red{
    color: red;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.tabelaimc {
    text-align: center;
}
.tabelaimc img{
    max-width: 60%;
}
.tabelaimc h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}